@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');

:root {
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: .1rem solid rgba(255, 255, 255, 0.3);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline-offset: unset;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    transition: all .5s linear;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

}

/* Custom scrool bar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--normal);
}

::-webkit-scrollbar-thumb {
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}
html {
    background-color: var(--black) !important;
}
body {
    background-color: var(--black);
    color: var(--normal);
    line-height: 1.7;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 10rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--normal);
}

.btn a {
    color: var(--black);
}

.btn {
    display: inline-block;
    padding: .5rem 2rem;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: .3rem;
    font-weight: 500;
}

.btn:hover {
    background-color: transparent;

    border: 1px solid var(--primary);
}

.btn:hover a {
    color: var(--primary);
}

.border-bottom {
    display: inline-block;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    margin-bottom: 2.5rem;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

/* main css starts */
nav {
    height: 5rem;
    background: var(--black);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav .nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-container h4 {
    font-size: 1.8rem;
}

nav .nav-container h4:hover {
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.2s;
}

nav .nav-container h4::first-letter {
    font-size: 2rem;
}

nav .nav-container span {
    color: var(--primary);
}

nav .nav-container ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1.2rem;
    position: relative;
}

.nav-menu a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    bottom: -5px;
    transition: .5s;
}

.nav-menu li a:hover {
    color: var(--primary);
}

.nav-menu a:hover:before {
    width: 100%;
}

nav button {
    display: none;
}
/* nav ends here */

/* header section css starts */
header {
    position: relative;
    top: 5rem;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: var(--bg);
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewy(-2deg);
    transform-origin: left;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
}

.header-right .text-1 {
    font-size: 1.8rem;
    margin-bottom: .3rem;
}

.header-right .text-2 {
    font-size: 3.6rem;
    font-weight: 550;
}

.header-right .text-3{
    font-size: 2.5rem;
    margin: .3rem 0;
}

.header-right .typing {
    color: var(--primary);
    font-weight: 500;
}

/* about section css here */

.about-center{
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.about-container .about-img {
    max-width: 12.5rem;
    max-height: 12.5rem;
    border: 3px solid var(--primary);
    border-radius: 50%;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about-container .about-text {
    line-height: 1.5;
    letter-spacing: .5px;
    text-align: justify;
    max-width: 75%;
}

.about-text .text {
    margin-bottom: 1rem;
}

.about-text p {
    margin-bottom: .8rem;
}


.about-text .typing-2 {
    color: var(--primary);
    font-weight: 500;
}

